# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.idea
*.zip
*.iml
.idea
*.img
/.img
/unit_11/img/6.png
/unit_11/img/1.png
/unit_11/img/4.png
/unit_11/img/2.png
/unit_11/img/3.png
/unit_11/img/5.png
